#index-banner{
    background-image: url("../img/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#news-container {
    height: 100%;
    width: 100%;
  }
